---
layout: page
title: Featured
tagline:
---

{% for post in site.posts %}
  {% if post.featured %}
<article class="home">

  <h2>
    <a href="{{ site.BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
  </h2>

  <div>
    {% if post.fullview %}
    {{ post.content }}
    {% else %}
    {% if post.shortinfo %}
    {{ post.shortinfo }}
    {% elsif post.description %}
    {{ post.description }}
    {% else %}
    {{ post.excerpt }}
    {% endif %}
    {% endif %}
  </div>

  {% if post.iframe %}
  <iframe src = "{{ post.iframe }}" width = "100%" height = "350px"></iframe>    
  {% elsif post.image %}
  <div class = "article-img">>
  <img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}">
  </div>
  {% endif %}

<hr>
</article>
{% endif %}
{% endfor %}
<hr/>